body, tr, td
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

body
{
	background-color: #999999;
}

a
{
	color: #999999;
}

img
{
	border: 0;
}

table
{
	width: 100%;
}

#header
{
	text-align: center;
	background: url('../bilder/logo.jpg'); 
	height: 27px;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.mainmenu-table
{
	background-color: #333333;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.mainmenu-table td
{
	width: 126px;
	text-align: center;
	padding: 0;	
}

#mainmenu a
{
	color: #999999;	font-size: 10pt;
}

.content-table
{
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	width: 760px; 
}

.content-table td
{
	padding: 10px 25px;
}

.content-table td td
{
	padding: 1px;
}

.content-table td th
{
	padding: 1px;
	font-weight: bold;
	background-color: #cccccc;
}

.content-table-menu-td
{
	width: 80px;
	vertical-align: top;
	background-color: #666666;
	font-weight: bold;
}

.content-table-menu-td a
{
	color: #999999;	font-size: 10pt;
	font-weight: normal;
}

.content-table-td
{
	width: 430px;
	background-color: #dfdfdf;
	vertical-align: top;
}

.footer-table
{
	border: 0;
	width: 760px;
	background-color: #333333;
	margin-left: auto;
	margin-right: auto;
}

.footer-table td
{
	padding: 0;
	margin: 0;
	color: #cccccc;
	text-align: center;
	font-size: 9px;
}

.footer-table a
{
	color: #999999;
	text-decoration: none;
	font-size: 10px;
}

.td-style1
{
	background-color: #cccccc;
}

.td-style2
{
	background-color: #dfdfdf;
}

.gaestebuch
{
	width: 100%;
	margin-top: 20px;
}

.gaestebuch a
{
	color: gray;
	font-size: 10px;
}

.td-gaestebuch-style1
{
	font-size: 10px;
	font-weight: bold;
	background-color: #eeeeee;
	width: 100px;
}

.td-gaestebuch-style11
{
	font-size: 10px;
	font-weight: bold;
	background-color: #eeeeee;
	width: 100%;
}

.td-gaestebuch-style2
{
	font-size: 10px;
}

.td-gaestebuch-style21
{
	font-size: 10px;
}

.hr-gaestebuch
{
	width: 100%;
	height: 1px;
	margin-bottom: 40px;
}

h1
{
	margin-top: 25px;
	color: #006600;
	font-size: 12pt;
}

h2
{
	color: #006600;
	font-size: 11pt;
}

h3
{
	color: #006600;
	font-size: 10pt;
}

a
{
	color: #0000EE;
	font-size: 10pt;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

fuss:hover
{
	text-decoration: underline;
}

menu:hover
{
	text-decoration:none;
}

